// Variables

// Color variables
$color-border           : #E1E1E1;
$color-border-inputs    : #BBBBBB;
$color-font             : #303030;
$color-font-cn          : #444444;
$color-background       : #FFFFFF;
$color-background-2     : #F1F1F1;
$color-background-3     : #F7F7F7;
$color-background-dark  : #111111;
$color-link             : #026CB6;
$color-link-hover       : #5E95C7;
$color-hint             : #929292;
$color-facebook         : #3B5998;
$color-twitter          : #1b95e0;
$color-twitter-hover    : #0C7ABF;
$color-pinterest        : #AA262A;


// Form elements variables
$min-height-input       : 2.7em;
$padding-input          : 0.55em .8em;
$input-border-width     : 1px;
