//Buttons
.sh-btn {
  display: inline-block;
  line-height: 2.5em;
  vertical-align: top;
  font-size: 13px;
  font-weight: 600;
  padding: 0 1.1em;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  color: white;
  background: $color-link;

  &:hover {
    text-decoration: none;
    color: white;
    background: $color-link-hover;
  }
}
