// Typography

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5rem;
}

.sh-title {
  margin-bottom: 1.1em;
  font-weight: 600;
}
.sh-title--big {
  font-size: 2.2rem;
}
.sh-title--medium {
  font-size: 1.7rem;
}
.sh-title--small {
  font-size: 1.4rem;
}
